{% extends "templates/partials/about.html" %}
{% block content %}

<div id="sidebar">
    <a href="/about/building" >
        THE BUILDING<i class="fa fa-angle-right"></i>
    </a>
    <a href="/about/sustainability">
        SUSTAINABILITY<i class="fa fa-angle-right"></i>
    </a>
    <a href="/about/gallery"  class="active">
        GALLERY<i class="fa fa-angle-right"></i>
    </a>
    <a href="/about/vacancies" >
        VACANCIES<i class="fa fa-angle-right"></i>
    </a>
    <a href="/about/downloads" >
        DOWNLOADS<i class="fa fa-angle-right"></i>
    </a>
    <a href="/about/contacts" >
        CONTACTS<i class="fa fa-angle-right"></i>
    </a>
</div>
<div id="aboutContent">
  <h1>Gallery</h1>
  <p>(Click to enlarge the image)</p>
  <!-- Gallery-->
  <div data-js="magnific-popup-gallery" class="gallery">
    {% for image in cms.galleryimages %}
      <div class="gallery-item">
        <a href="{{image.image_file_url}}"><img alt="{{image.title}}" src="{{image.image_file_url}}" class="gallery-thumbnail"/></a>
      </div>
    {% endfor %}
    <br class="clear" />
  </div>
</div>
{% endblock %}
